* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.1ch;
}
nav {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  flex-wrap: wrap;
}
nav h3 {
  text-transform: uppercase;
}
ul > li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 1s all;
}
a:hover {
  font-size: 17px;
  letter-spacing: 0.2ch;
}
